<!DOCTYPE html>
<html>
<body>
  <p>We will upload photos here.</p>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../../assets/67712001_2642606749083508_2996454543316746240_n.jpg">
        <img src="../../assets/67712001_2642606749083508_2996454543316746240_n.jpg" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../../assets/67738421_10162076160235481_5408591838418305024_n.jpg">
        <img src="../../assets/67738421_10162076160235481_5408591838418305024_n.jpg" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../../assets/68657753_2964338713581421_6829650925863305216_n.jpg">
        <img src="../../assets/68657753_2964338713581421_6829650925863305216_n.jpg" alt="Northern Lights" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../../assets/68706455_10162559879305657_6031662078329094144_o.jpg">
        <img src="../../assets/68706455_10162559879305657_6031662078329094144_o.jpg" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
  </div>

  <div class="clearfix"></div>

</body>
</html>





<!--<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->
